@import "../variables.scss";
@import "../main.scss";

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.5);
  z-index: 99;
}

.modal-child {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  // max-width: 900px;
  // min-width: 300px;
  // width: 70vw;
  // border-radius: 12px;
}

.exit-modal {
  cursor: pointer;
  font-family: $fm-Montserrat;
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
  margin: 0;
  width: 20px;
  height: auto;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  text-align: center;

  &:hover {
    background-color: $default-color-ltrgray;
    border-radius: 8px;
  }
}
