@import "../variables.scss";
@import "../main.scss";

@mixin button($bg-color, $color) {
  cursor: pointer;
  font-weight: $default-font-wt;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: $color;
  background: $bg-color;
  border-radius: 8px;
  width: 100%;
  &:hover {
    color: $color;
    background-color: $default-button-hover-color;
  }
}

@mixin centerer($direction) {
  color: $default-color;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  padding: 0;
  width: 100%;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.5);
  z-index: 10;
}

.modal-child {
  @include centerer(column);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  width: 70vw;
  max-width: 568px;
  min-width: 300px;
}

.session-form-header {
  @include centerer(row);
  align-items: center;
  justify-content: space-between;
  flex: 0 1 0;
  padding: 16px 0;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.exit-modal {
  @include button(transparent, $default-color);
  padding: 10px;
  margin: 0;
  height: auto;
  width: 20px;
}

.login-signup-form {
  @include centerer(column);
  width: 100%;
  padding: 24px;
  align-items: flex-start;

  &:not(first-child) {
    align-items: center;
  }

  h3 {
    margin: 0 0 20px;
  }

  label,
  button {
    margin-bottom: 16px;
  }

  input {
    // -2px for input borders
    width: 518px;
    margin: 0;
    padding: 0;

    &::placeholder {
      margin: 1px 0 1px;
    }
  }
}

.session-errors {
  color: red;
  padding: 10px;
}

.session-button {
  @include button($default-linear-gradient, white);
  border-style: none;
  width: 520px;
  height: 48px;
}

.session-form-footer {
  @include centerer(row);
  padding: 24px;
}

.demo-login-button {
  @include button($default-linear-gradient2, white);
  border-style: none;
  width: 520px;
  height: 48px;
}
