@import "../variables.scss";

.listing-show-container {
  font-family: $fm-Nunito;
  color: $default-color-black;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 1100px;
  padding: 0 80px;
  margin: auto;
  min-height: 100%;
}

.listing-show-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 24px 0 18px 0;
}

.listing-show-title {
  width: 100%;
  font-size: $fs-22;
  font-weight: 600;
  margin-bottom: 18px;
}

.listing-show-subheading {
  font-size: $fs-16;
  display: flex;
  justify-content: space-between;

  .subheading-left {
    display: flex;
    justify-content: space-between;
    // width: 340px;
  }

  .subheading-right {
    display: flex;
    justify-content: space-between;
    // width: 130px;
  }

  span {
    display: flex;
  }

  span:not(:first-child, :nth-child(3)) {
    padding: 0 8px 0 8px;
  }
}

.listing-show-images-container {
  display: flex;
  gap: 10px;
  height: 560px;
  cursor: pointer;

  @media screen and (max-width: 700px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
    overscroll-behavior: auto;
    aspect-ratio: 1/0.5;
    white-space: nowrap;
    width: 100vw;
    border-radius: 0 0 0 0;
    position: relative;
  }
}

.img-main {
  @include img();
  width: 50%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  &:hover {
    -webkit-filter: brightness(85%);
    transition-duration: 100ms;
  }
}

.other-img-container {
  @include img();
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;

  .img-others {
    @include img();
    display: flex;
    flex-wrap: wrap;
    width: 265px;
    height: 275px;

    &:hover {
      -webkit-filter: brightness(90%);
      transition-duration: 75ms;
    }
  }
  .img-others:nth-child(2) {
    border-top-right-radius: 16px;
  }

  .img-others:nth-child(4) {
    border-bottom-right-radius: 16px;
  }
}

// Images Modal

.imgs-modal-container {
  width: 55vw;
  height: 85vh;
  background-color: white;
  border-radius: 16px;
  overflow-y: auto;
  // top: 0;
  // left: 50%;
  // transform: translate(-25%, -25%);

  .listing-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px 0 50px 0;

    .all-imgs {
      @include img();
      width: 600px;
      height: 600px;
    }
  }
}

.listing-show-info-and-reservation-container {
  width: 100%;
  margin: 48px 0 48px 0;
  display: flex;
}

.listing-show-info {
  flex-direction: column;
  width: 100%;
  line-height: 1.25;
}

.listing-host {
  border-bottom: 1px solid $default-color-ltgray;

  p:first-child {
    font-size: $fs-20;
    font-weight: 600;
    margin-bottom: 12px;
  }

  p:last-child {
    font-size: $fs-16;
    font-weight: 300;
    margin-bottom: 30px;

    span:first-child {
      padding: 0 5px 0 0;
    }

    span:not(:first-child) {
      padding: 0 5px 0 5px;
    }
  }
}

.listing-aircover {
  margin-top: 40px;
  border-bottom: 1px solid $default-color-ltgray;

  p {
    margin: 20px 0 40px 0;
    font-weight: 300;
  }
}

.listing-description {
  border-bottom: 1px solid $default-color-ltgray;

  p {
    margin: 40px 0 40px 0;
    font-weight: 300;
  }
}

.listing-features {
  margin-top: 40px;

  span {
    font-weight: 600;
    font-size: $fs-20;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    margin-top: 40px;

    li {
      display: flex;
      align-items: center;
      width: auto;
      font-weight: 300;
      margin-bottom: 30px;
    }
  }
}

.listing-reservation-form {
  margin-left: 100px;
}

.listing-show-reviews-container {
  border: 1px solid blue;
  width: 100%;
  height: 300px;
  padding: 48px 0 48px 0;
  border-bottom: 1px solid rgb(235, 235, 235);
  // border: 1px solid red;
}

// Listing Map

.listing-map-container {
  border-top: 1px solid rgb(221, 221, 221);
  padding: 48px 0 48px 0;
}

.map-header {
  font-size: $fs-22;
  font-weight: 700;
  padding-bottom: 40px;
}

#map-container {
  width: 100%;
  aspect-ratio: 1/0.5;
}
