@import "../variables.scss";

.listing-show-container {
  font-family: $details-font-family;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 1120px;
  padding: 0 80px;
  margin: auto;
}

.listing-show-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 0 24px;
  // border: 1px solid blue;
}

#share {
  padding-right: 5px;
}

#heart {
  padding: 0 5px 0 10px;
}

.listing-show-title {
  width: 100%;
  font-size: $default-font-size-xxl;
  font-weight: $default-font-wt;
  padding-bottom: 15px;
}

.listing-show-subheading {
  font-size: $default-font-size-xl;
  display: flex;
  justify-content: space-between;

  .listing-show-subheading-left,
  .listing-show-subheading-right {
    display: flex;
    justify-content: space-between;
  }
}

.listing-show-images-container {
  width: 100%;
  height: 560px;
  display: flex;
  gap: 10px;
  border-radius: 25px;
  overflow: hidden;
}

.listing-show-img-main {
  width: 100%;
  height: 100%;
}

.listing-show-img-others {
  width: 100%;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  div {
    display: flex;
    flex-shrink: 3;
    height: 275px;
  }
}

.listing-show-info-and-reservation-container {
  width: 100%;
  height: 1250px;
  padding: 48px 0px 24px;
  display: flex;
  border: 1px solid black;
}

.listing-show-info {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid blue;
}

.listing-host {
  height: 75px;
  border-bottom: 1px solid rgb(235, 235, 235);

  h1 {
    font-size: $default-font-size-xxl;
    font-weight: $default-font-wt;
    padding-bottom: 12px;
  }
  h2 {
    font-size: $default-font-size-lg;
  }
}

.listing-description {
  width: 100%;
  font-size: $default-font-size-lg;
  padding-top: 12px;
}

.listing-reservation-form {
  width: 100%;
  border: 1px solid red;
}

.listing-show-reviews-container {
  width: 100%;
  height: 700px;
  padding: 48px 0 48px 0;
  border-bottom: 1px solid rgb(235, 235, 235);
  border: 1px solid red;
}

#map-container {
  width: 100%;
  aspect-ratio: 1/0.5;
  border: 1px solid green;
}
