@import "../variables.scss";

.reservation-form-container {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  width: 300px;
  box-shadow: 0 0 4px 4px #00000010;
  font-family: $fm-Nunito;
}

.reservation-form-header {
  display: flex;
  justify-content: space-between;
  font-size: $fs-14;

  p {
    display: flex;
    align-items: flex-end;
  }

  .price {
    font-size: $fs-20;
    font-weight: $fw-600;
  }

  span {
    display: flex;
    align-items: flex-end;
    padding: 0 2px 0 2px;
  }

  span.reviews-link {
    color: $default-color-darkgray;
  }
}

.reservation-form-input-container {
  border: 1px solid $default-color-gray;
  border-radius: 13px;
  margin: 25px 0 15px 0;
}

.date-picker-container {
  // display: flex;
  // justify-content: center;
  // width: 100% !important;
  // border: 1px solid greenyellow;
  display: flex;
  justify-content: space-between;
}

.date-input {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 7px 12px;
  font-size: 0.75rem;
  &:last-of-type {
    border-left: 1px solid #00000050;
  }

  // label {
  //   display: flex;
  //   width: 100%;
  //   font-size: $default-font-size-md;
  //   font-family: $default-font-family;
  // }
}

label {
  font-weight: 600;
  font-size: 0.75em;
  justify-content: flex-end;
  color: gray;
  font-weight: $default-font-wt;
}

input {
  border: none;
  padding: 0 0;
  width: 100%;
  outline: none;
  z-index: 9;
}

.guest-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px solid #00000050;
  padding: 7px 12px;
  color: gray;
  font-size: 0.75rem;

  svg {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    right: 0;
    transform: translatex(-12px) translatey(-50%);
    display: none;
  }
}

.btn-container {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 0;
  margin: 0 0;
  cursor: pointer;
  border: none;
}

.cell {
  width: 100%;
  height: 100%;
  z-index: 1;
  // border: 1px solid rgba(128, 128, 128, 0.753);
}

.content {
  --positionX: 0;
  --positionY: 5;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;

  background-image: radial-gradient(
    circle at calc((0 + var(--positionX, 0)) * 10%)
      calc((0 + var(--positionY, 0)) * 5%),
    rgb(241, 37, 75) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
}

.action-btn {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;

  span {
    padding: 0 0;
    margin: 0 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: sans-serif;
  }
}

p.reservation-footer {
  color: gray;
  font-weight: 500;
  font-size: $default-font-size-md;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
