@import "../variables.scss";

.reservation-form-container {
  font-family: $fm-Nunito;
  position: sticky;
  top: 120px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  z-index: 11;

  label {
    color: $default-color-black;
    font-size: $fs-12;
    font-weight: 700;
  }

  input {
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 9;
    font-family: $fm-Nunito;
    font-weight: 300;
    width: 100%;
  }
}

.reservation-form-header {
  display: flex;
  justify-content: space-between;
  font-size: $fs-14;

  p {
    display: flex;
    align-items: flex-end;
  }

  .price {
    font-size: $fs-20;
    font-weight: 700;
  }

  span {
    display: flex;
    align-items: flex-end;
    padding: 0 2px 0 2px;
  }

  span.reviews-link {
    color: $default-color-darkgray;
  }
}

.reservation-form-input-container {
  border: 1px solid $default-color-gray;
  border-radius: 12px;
  margin: 25px 0 15px 0;
}

// ---

.date-picker-container {
  // display: flex;
  // justify-content: center;
  // width: 100% !important;
  // border: 1px solid greenyellow;
  display: flex;
  justify-content: space-between;
}

.date-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 7px 12px;

  &:last-of-type {
    border-left: 1px solid $default-color-gray;
  }
}

.guest-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px solid $default-color-gray;
  padding: 7px 12px;
  color: gray;
  font-size: 0.75rem;

  .guest-input {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    outline: none;

    p {
      font-family: $fm-Nunito;
      font-size: $fs-14;
      font-weight: 300;
      color: $default-color-black;
      align-self: center;
    }
  }
}

.add-guest-dropdown-container {
  position: relative;

  .add-guest-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    border-radius: 4px;
    padding: 16px;
    width: 268px;
    right: -13px;
    top: 30px;

    .guest-text {
      font-size: $fs-16;
      font-weight: 500;
      color: $default-color-black;
      align-self: center;
    }

    .add-guest {
      font-weight: 500;

      span {
        color: $default-color-black;
        margin: 0 5px 0 5px;
        font-size: $fs-14;
      }

      .num-guest-button {
        border-radius: 50%;
        margin: 0 5px 0 5px;
        border: 1px solid $default-color-gray;
        color: $default-color-gray;
        background-color: transparent;
        height: 32px;
        width: 32px;
        font-size: $fs-16;

        &:hover {
          cursor: pointer;
          color: $default-color-black;
          border: 1px solid $default-color-black;
        }
      }
    }
  }
}

#disable-button {
  opacity: 0.5;
  cursor: not-allowed !important;

  &:hover {
    color: $default-color-gray;
    border: 1px solid $default-color-gray;
  }
}

.reserve-button {
  cursor: pointer;
  border-radius: 8px;
  padding: 6%;
  width: 100%;
  height: 100%;
  border: none;
  background: linear-gradient(to left, #e61e4d 0%, #e31c5f 50%, #d70466 100%);

  &:hover {
    background: linear-gradient(
      to right,
      #e61e4d 0%,
      #e31c5f 50%,
      #d70466 100%
    );
  }

  span {
    padding: 0 0;
    margin: 0 0;
    color: white;
    line-height: 20px;
    font-family: $fm-Nunito;
    font-size: $fs-16;
    font-weight: 600;
  }
}

.disable-res-button {
  cursor: not-allowed !important;
  opacity: 0.5;
  border-radius: 8px;
  padding: 6%;
  width: 100%;
  height: 100%;
  border: none;
  background: $default-color-gray;

  span {
    padding: 0 0;
    margin: 0 0;
    color: rgb(14, 13, 13);
    line-height: 20px;
    font-family: $fm-Nunito;
    font-size: $fs-16;
    font-weight: 700;
  }
}

// ----

.reservation-price {
  display: flex;
  flex-direction: column;

  .price-info {
    display: flex;
    justify-content: space-between;
    font-size: $fs-16;
    font-weight: 300;
    color: $default-color-black;
    padding-top: 16px;

    p:not(:last-child) {
      text-decoration: underline;
    }

    &:nth-of-type(1) {
      padding-top: 30px !important;
    }

    &:nth-of-type(3) {
      padding-bottom: 30px !important;
    }
  }

  .price-info-total {
    display: flex;
    justify-content: space-between;
    font-size: $fs-16;
    font-weight: 500;
    color: $default-color-black;
    padding: 30px 0 10px 0;
    border-top: 1px solid $default-color-ltgray;
  }
}

p.reservation-footer {
  color: gray;
  font-size: $fs-14;
  font-weight: 300;
  text-align: center;
  padding-top: 16px;
}
