@import "../variables.scss";

// @mixin labeled-input-container() {
//   @include centerer(column);
//   justify-content: space-between;
//   align-items: flex-start;
//   border-radius: 8px 8px 8px 8px;
//   width: 100%;
//   border: 0.5px solid gray;
//   position: relative;
//   cursor: text;
//   label {
//     width: auto;
//     position: absolute;
//     top: 0;
//     left: 6px;
//     font-size: 12px;
//     font-weight: bold;
//     padding: 0 0 0 12px;
//     margin: 0;
//   }
//   input {
//     padding: 24px 0 0 16px;
//     width: auto;
//     // text-align: right;
//     margin: 0;
//     border: none;
//   }
//   span {
//     @include centerer(row);
//     justify-content: flex-start;
//   }
//   span input {
//     text-align: right;
//   }
//   span p {
//     color: $default-color-lt-gray;
//     padding: 24px 0 0 0;
//   }
// }

// .reservation-form-container {
//   @include centerer(column);
//   width: 100%;
//   gap: 12px;
// }

// .checkin-date-input {
//   @include labeled-input-container();
//   width: 50%;
//   border-radius: 8px 0 0 0;
//   border: 0.5px solid gray;
// }

// .checkout-date-input {
//   @include labeled-input-container();
//   width: 50%;
//   border-radius: 0 8px 0 0;
//   border: 0.5px solid gray;
//   border-left: none;
// }

.reservation-form-container {
  // width: 100%;
  // height: 100%;
  // border: 1px solid blue;
  // position: relative;
  // top: 0;
  border: 1px solid #00000030;
  border-radius: 13px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 5px 5px #00000015;
}

.reservation-form-header {
  // display: flex;
  // justify-content: space-between;
  // border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  // span {
  //   font-size: $default-font-size-md;
  //   letter-spacing: 0;
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: flex-end;
  //   margin-top: 0;
  // }

  span {
    display: flex;
    align-items: flex-end;
  }

  p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
  }

  h1 {
    font-size: $default-font-size-xxl;
    font-weight: 900;
  }

  h3 {
    padding-left: 6px;
    font-size: $default-font-size-lg;
  }

  #star {
    padding-right: 3px;
  }
}

span.cost {
  color: black;
  font-size: 1.3em;
}

span.rating {
  padding-right: 5px;
}

span.reviews {
  color: gray;
  font-size: 0.85em;
  text-decoration: underline;
  padding-left: 5px;
}

.reservation-form-input-container {
  border: 1px solid #00000050;
  border-radius: 13px;
  margin-bottom: 15px;
}

.date-picker-container {
  // display: flex;
  // justify-content: center;
  // width: 100% !important;
  // border: 1px solid greenyellow;
  display: flex;
  justify-content: space-between;
}

.date-input {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 7px 12px;
  font-size: 0.75rem;
  &:last-of-type {
    border-left: 1px solid #00000050;
  }

  // label {
  //   display: flex;
  //   width: 100%;
  //   font-size: $default-font-size-md;
  //   font-family: $default-font-family;
  // }
}

label {
  font-weight: 600;
  font-size: 0.75em;
  justify-content: flex-end;
  color: gray;
  font-weight: $default-font-wt;
}

input {
  border: none;
  padding: 0 0;
  width: 100%;
  outline: none;
  z-index: 9;
}

.guest-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px solid #00000050;
  padding: 7px 12px;
  color: gray;
  font-size: 0.75rem;

  svg {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    right: 0;
    transform: translatex(-12px) translatey(-50%);
    display: none;
  }
}

.btn-container {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 0;
  margin: 0 0;
  cursor: pointer;
  border: none;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);

  @for $i from 0 to 10 {
    .cell:nth-child(10n + #{$i + 1}):hover ~ .content {
      --positionX: #{$i};
    }

    .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover
      ~ .content {
      --positionY: #{$i};
    }
  }
}

.cell {
  width: 100%;
  height: 100%;
  z-index: 1;
  // border: 1px solid rgba(128, 128, 128, 0.753);
}

.content {
  --positionX: 0;
  --positionY: 5;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;

  background-image: radial-gradient(
    circle at calc((0 + var(--positionX, 0)) * 10%)
      calc((0 + var(--positionY, 0)) * 5%),
    rgb(241, 37, 75) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
}

.action-btn {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;

  span {
    padding: 0 0;
    margin: 0 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: sans-serif;
  }
}

p.reservation-footer {
  color: gray;
  font-weight: 500;
  font-size: $default-font-size-md;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
