@import "../variables.scss";

.footer-container {
  @include center-content(row);
  align-items: flex-start;
  border-top: 1px solid rgb(235, 235, 235);
  background-color: $default-color-ltrgray;
  justify-content: space-evenly;
  // position: relative;
  // bottom: 0;
  // right: 0;
}

.footer-content {
  padding: 20px 0 20px 0;
  font-family: $fm-Montserrat;
  line-height: 1.5;

  p {
    font-weight: 600;
    font-size: 16px;
    color: $default-color-black;
    margin-bottom: 5px;
  }

  a,
  ul,
  li {
    font-weight: 400;
    font-size: 14px;
    color: $default-color-black;
    text-decoration: none;
  }
}
