@import "../variables.scss";

$font: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
  sans-serif;

#footer-container {
  border-top: 1px solid rgb(235, 235, 235);
  background-color: #f3f1f1;
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
  width: 100%;
}

.footer-content {
  width: 250px;
  padding: 0;
  color: $default-color;
  font-size: $default-font-size-md;
  font-family: $font;
  // border: 2px solid red;
  h2 {
    font-weight: $default-font-wt;
    margin: 0 0 8px 0;
    // font-family: $font;
    img {
      @include icon-size(14px);
      padding: 0;
      vertical-align: text-top;
    }
  }
  a,
  li {
    text-decoration: none;
    color: $default-color;
    margin: 0 0 10px 0;
  }
}
