@import "../variables.scss";

.filter-container {
  @media screen and (max-width: 1600px) {
    width: 93%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    // align-items: center;
    justify-content: space-between;
    top: 70px;
  }
  @media (min-width: 475px) and (max-width: 700px) {
    // width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    top: 60px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 15px 0px;
  width: 1600px;
  position: sticky;
  z-index: 9;
  top: 75px;
  background-color: white;
}

#filter-icons {
  @media screen and (max-width: 1600px) {
    width: 5%;
    padding: 7px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 475px) and (max-width: 1250px) {
    width: 10%;
    padding: 0px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $fs-12;
  font-family: $fm-Nunito;
  font-weight: $fw-500;
  background-color: transparent;
  border: none;
  color: $default-color-ltgray;
  // cursor: pointer;

  img {
    @include icon-size($filter-icon-size);
  }

  span {
    color: $default-color-darkgray;
  }
}

.filter-modal-button {
  align-self: center;
  font-size: $fs-14;
  color: $default-color-black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  padding: 5px 5px 5px 5px;
  background: transparent;
  border: 1px solid $default-color-gray;
  border-radius: 16px;

  &:hover {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 20px;
    height: auto;
    padding: 7px 5px 7px 0;
  }

  span {
    font-size: $default-font-size-md;
  }
}

// Filter Form Modal

.filter-form-container {
  @include center-content(column);
  width: 40vw;
  background-color: white;
  border-radius: 16px;
  overflow-y: auto;
  font-family: $fm-Nunito;
}

.filter-form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0 18px 0;
  border-bottom: 1px solid lightgray;
  width: 100%;

  p {
    font-size: $fs-20;
    font-weight: 600;
    color: $default-color-black;
  }
}

.filter-form {
  width: 100%;

  .filter-form-content:not(:last-child) {
    @include center-content(column);

    p {
      font-size: $fs-20;
      font-weight: 700;
      color: $default-color-black;
      padding: 20px;
    }
  }

  .price-range-slider {
    width: 25vw;
    align-self: center;
    padding: 20px;
  }

  .price-range-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;

    .min-price-input,
    .max-price-input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 6px 10px 6px 10px;
      border-radius: 8px;
      width: 9vw;
      border: 1px solid $default-color-gray;
    }

    .price-container {
      display: flex;
      margin: 6px 0 0 0;
      width: 100%;

      span {
        font-family: $fm-Montserrat;
        padding: 0;
      }
    }

    span {
      padding: 15px;
      align-self: center;
    }

    label {
      font-size: 14px;
      font-weight: 300;
      color: $default-color-darkgray;
    }

    input {
      font-family: $fm-Nunito;
      font-size: 16px;
      border: 2px solid transparent;
      border-radius: 8px;
      width: 95%;
      margin-left: 2px;

      &:focus {
        outline: none;
        border: 2px solid $default-color-black;
      }
    }
  }

  // Slider overide styles
  .noUi-connect {
    background-color: $default-color-darkgray !important;
    height: 100%;
    width: 100%;
  }

  .noUi-target {
    height: 8px;
  }

  .noUi-handle {
    cursor: pointer;
    border-radius: 50%;
    width: 32px !important;
    height: 32px !important;
    top: -13px !important;
    border: 1px solid #b5b5b5;
    box-shadow: none;

    &:before {
      height: 16px !important;
      left: 12px !important;
      top: 6px !important;
      background: #b5b5b5;
    }

    &:after {
      height: 16px !important;
      left: 17px;
      background: #b5b5b5;
    }
  }
  //

  .num-beds-input {
    margin-bottom: 40px;

    .num-bed {
      cursor: pointer;
      font-family: $fm-Nunito;
      font-size: $fs-16;
      font-weight: 400;
      color: $default-color-black;
      min-width: 59px;
      padding: 10px 20px 10px 20px;
      margin: 0 10px 0 10px;
      border-radius: 24px;
      border: 1px solid $default-color-gray;
      background: white;

      &:hover {
        border: 1px solid $default-color-black;
      }

      &:focus {
        border: 1px solid $default-color-black;
        background: $default-color-black;
        color: white;
      }
    }
  }

  .filter-form-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    border-top: 1px solid lightgray;

    .filter-reset-button {
      cursor: pointer;
      font-family: $fm-Nunito;
      font-size: $fs-16;
      font-weight: 600;
      color: $default-color-black;
      border: none;
      background: none;
      text-decoration: underline;
      padding: 0;
    }

    .filter-apply-button {
      cursor: pointer;
      font-family: $fm-Nunito;
      font-size: $fs-16;
      font-weight: 600;
      color: white;
      width: 15em;
      padding: 10px 0 10px 0;
      border-radius: 8px;
      border: 1px solid $default-color-black;
      background: $default-color-black;
    }

    .disable-apply-button {
      font-family: $fm-Nunito;
      font-size: $fs-16;
      font-weight: 600;
      color: $default-color-darkgray;
      width: 15em;
      padding: 10px 0 10px 0;
      border-radius: 8px;
      border: 1px solid $default-color-ltgray;
      background: $default-color-ltgray;
    }
  }
}
