@import "../variables.scss";

.listing-index-container {
  padding: 0px 0px 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  width: 1600px;
}

.listing-index-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 400px;
}

.listing-info {
  display: flex;
  justify-content: space-between;
  font-family: $details-font-family;
  font-size: $default-font-size-md;
  padding-top: 10px;
  width: 285px;

  h3,
  li {
    margin: 0 0 8px 0;
  }
}

.listing-img-container {
  height: 285px;
  width: 285px;
}

.listing-info-location {
  max-width: 80%;

  span {
    font-weight: normal;
  }
}

h3,
#listing-info-details-price,
#rating {
  font-weight: $default-font-wt;
}

#rating,
#star {
  vertical-align: text-top;
}

// .listing-info-review {
//   #rating {
//     vertical-align: text-top;
//     // text-align: center;
//   }
// }

#test-idx {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

#img-listing {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
}

.slides {
  position: relative;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-dots {
  bottom: 10px;
  z-index: 1;
}
