@import "../variables.scss";

.listing-index-container {
  // padding: 0px 0px 50px;
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);

  @media screen and (max-width: 1600px) {
    width: 1170px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 35px;
  }

  @media (min-width: 475px) and (max-width: 1250px) {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
  }

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 40px;
  // width: 100%;
  // width: 1600px;
  max-width: 1600px;
  margin: 20px 0 60px 0;
}

.listing-index-item {
  @media screen and (max-width: 1600px) {
    width: 265px;
    height: 365px;
    display: flex;
    align-self: flex-start;
  }

  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
  height: 385px;
}

.listing-img-container {
  @media screen and (max-width: 1600px) {
    width: 100%;
    height: 260px;
  }

  aspect-ratio: 1/0.9;
  width: 100%;
  height: 285px;
  width: 285px;
}

.listing-info {
  @media screen and (max-width: 1600px) {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: flex-start;
    font-size: 0.95rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $fm-Nunito;
  font-size: $fs-16;
  padding-top: 10px;
  width: 285px;
  height: 100%;

  .info-heading {
    width: 100%;
    // max-width: 85%;
    display: flex;
    justify-content: space-between;
    // flex-flow: column wrap;

    p:not(:last-child) {
      font-weight: 600;
      color: $default-color-black;
    }

    p:last-child {
      font-weight: 300;
    }
  }

  .info-content:not(:last-child) {
    font-weight: 300;
    color: $default-color-darkgray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .info-content:last-child {
    font-weight: 600;
    color: $default-color-black;
  }

  span {
    font-weight: 300;
  }
}

// Image Slider styles

.slider-img {
  @include img();
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;

  &:before {
    font-size: 30px;
    color: white;
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}

.slides {
  position: relative;
  height: 100%;
}

.slick-prev {
  left: 5% !important;
}

.slick-next {
  right: 5% !important;
}

.slick-dots {
  bottom: 10px;
  z-index: 1;

  .slick-active {
    li,
    button:before {
      color: white !important;
    }
  }
}
