@import "../variables.scss";

#splash-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-bottom: 100px;
}

.filter-form-container {
  // border-bottom: 1px solid rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 15px 0px;
  width: 1600px;
  position: sticky;
  z-index: 9;
  top: 75px;
  background-color: white;
}

#filter-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $fs-12;
  font-family: $fm-Nunito;
  font-weight: $fw-500;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $default-color-ltgray;

  img {
    @include icon-size($filter-icon-size);
  }

  span {
    color: $default-color-darkgray;
  }
}

#filter-modal-button {
  display: flex;
  align-items: center;
  font-size: $default-font-size-sm;
  color: $default-color;
  width: auto;
  min-width: 90px;
  border-radius: 16px;
  justify-content: center;
  padding: 5px 10px 5px;
  img {
    @include icon-size(20px);
  }
  #button-text {
    font-size: $default-font-size-md;
    padding: 0px 5px;
  }
}
