@import "../variables.scss";

#splash-container {
  max-width: 100%;
}

.filter-container {
  border-bottom: 1px solid rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $default-color-lt-gray;
  padding: 10px 300px 10px 300px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $default-color-lt-gray;
}

#filter-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $default-font-size-sm;
  font-weight: $default-font-wt;
  img {
    @include icon-size($filter-icon-size);
  }
}

#filter-modal-button {
  @include button(white, $default-color-lt-gray);
  display: flex;
  align-items: center;
  font-size: $default-font-size-sm;
  color: $default-color;
  width: auto;
  min-width: 90px;
  border-radius: 16px;
  justify-content: center;
  padding: 5px 10px 5px;
  img {
    @include icon-size(20px);
  }
  #button-text {
    font-size: $default-font-size-md;
    padding: 0px 5px;
  }
}

.listing-index-container {
  height: 1500px;
  padding: 0 80px;
}
