@import "../variables.scss";
@import "../modals/modal.scss";

.nav-header-container {
  align-items: center;
  justify-content: center;
  display: flex;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(235, 235, 235);
  background-color: white;
  z-index: 90;
  width: 100%;
}

.nav-header {
  @media (min-width: 475px) and (max-width: 1600px) {
    width: 90%;
    height: 90%;
  }
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $fm-Nunito;
  margin: 0 30px 0 30px;
  padding: 5px 10px 5px 10px;
}

.splash-page-link-container {
  a {
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: $airbnb-color;
    letter-spacing: -1px;
    font-family: $fm-Montserrat;
    font-size: 20px;
    font-weight: $fw-600;
  }

  &:hover {
    transform: scale(1.075);
    transition: 0.175s ease-out;
  }
}

.search-bar-container {
  @include center-content(row);
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-align: start;
  width: 500px;
  height: 100%;
  margin: 12px;
  padding: 3px 8px 3px 8px;
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 4px 2px rgba(0, 0, 0, 0.05);
  transition: transform 250ms ease, opacity 100ms ease, visibility 0ms 50ms;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.search-input {
  @media screen and (min-width: 475px) {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    font-size: 16px;
    font-weight: 300;
    font-family: $fm-Nunito;
    color: lightgray;
    width: 95%;
    margin-left: 4px;
    border: none;
    padding: 8px 0 8px 0;

    &:focus {
      outline: none;
      color: $default-color-black;
    }
  }
}

.search-button {
  @include center-content(column);
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #ff385c;
  color: white;
}

.right-nav {
  display: flex;
  align-items: center;

  .social-link-container {
    display: flex;

    .social-link {
      color: $airbnb-color;

      &:hover {
        color: rgb(68, 202, 155);
        transform: scale(1.25);
        transition: 0.25s ease-out;
      }
    }
  }

  .nav-dropdown-button {
    cursor: pointer;
    display: flex;
    border-radius: 25%;
    padding: 7px 5px 7px 7px;
    border-radius: 40px;
    border: 1px solid $default-color-gray;
    margin-left: 30px;
    background-color: white;

    &:hover {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-avatar {
      @include img();
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 6px;
    }
  }

  .dropdown-container {
    // change styling starting frmo here
    position: relative;

    .dropdown-content {
      position: absolute;
      z-index: 10;
      background-color: white;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
      border-radius: 12px;
      flex-direction: column;
      min-width: 180px;
      max-height: 200px;
      right: 0px;
      top: 30px;
      font-size: $fs-14;
      color: $default-color-black;

      .greeting {
        border-bottom: 1px solid rgb(209, 208, 208);
        padding: 15px 0px 15px 10px;
      }

      .nav-account,
      .nav-trips,
      .nav-wishlists,
      .nav-logout-button,
      .nav-login-signup {
        cursor: pointer;
        padding: 10px 0px 10px 10px;
        font-weight: $fw-700;

        a {
          text-decoration: none !important;
          color: $default-color-black;
        }

        &:hover {
          background-color: $default-color-ltrgray;
        }
      }

      &:last-child {
        padding-bottom: 10px;
      }
    }
  }
}
