@import "../variables.scss";
@import "../modals/modal.scss";

.nav-header-container {
  align-items: center;
  justify-content: center;
  display: flex;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(235, 235, 235);
  background-color: white;
  z-index: 10;
  width: 100%;
  // border: 1px solid red;
}

.nav-header {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $default-fm;
  // border: 1px solid green;
}

.splash-page-link-container {
  a {
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: $airbnb-color;
    letter-spacing: -1px;
    font-family: $fm-Montserrat;
    font-size: 20px;
    font-weight: $fw-600;
  }

  &:hover {
    transform: scale(1.05);
    transition: 0.175s ease-out;
  }
}

.search-bar-container {
  @include centerer(row);
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 500px;
  height: 48px;
  height: 100%;
  margin: 12px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 2px rgba(0, 0, 0, 0.05);
  transition: transform 250ms ease, opacity 100ms ease, visibility 0ms 50ms;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.search-button {
  @include centerer(column);
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #ff385c;
  color: white;
}

.right-nav {
  display: flex;
  align-items: center;

  .social-link-container {
    display: flex;

    .social-link {
      color: $airbnb-color;

      &:hover {
        color: rgb(68, 202, 155);
        transform: scale(1.25);
        transition: 0.25s ease-out;
      }
    }
  }

  .dropdown-container {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 30px;

    .nav-dropdown-button {
      cursor: pointer;
      display: flex;
      border-radius: 25%;
      padding: 7px 5px 7px 7px;
      border-radius: 40px;
      border: 2px solid $button-border-color-lt;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 2px rgba(0, 0, 0, 0.05);

      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      }
    }

    .dropdown-content {
      position: absolute;
      z-index: 10;
      background-color: white;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
      border-radius: 12px;
      flex-direction: column;
      width: 180px;
      height: 160px;
      right: 0px;
      top: 125%;
      font-size: $fs-14;
      color: $default-color-black;

      .greeting {
        border-bottom: 1px solid rgb(209, 208, 208);
        padding: 15px 0px 15px 10px;
      }

      .nav-trips,
      .nav-wishlists,
      .nav-logout-button,
      .nav-login-signup {
        cursor: pointer;
        padding: 10px 0px 10px 10px;
        font-weight: $fw-600;

        a {
          text-decoration: none;
          color: $default-color-black;
        }

        &:hover {
          background-color: $default-button-hover-color;
        }
      }
    }
  }
}
