@import "../variables.scss";
@import "../modals/modal.scss";

.nav-header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(235, 235, 235);
  background-color: white;
  z-index: 10;
  // font-family: $font;
}

.splash-page-link-container {
  align-items: center;
  // font-family: $font;
  // border: 1px solid red;

  a,
  h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $airbnb-color;
    font-size: 20px;
    font-weight: $default-font-wt;
    // font-family: "Montserrat", sans-serif;
  }
}

.yourbnb-text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
}

.search-bar-container {
  @include centerer(row);
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 500px;
  height: 48px;
  height: 100%;
  margin: 12px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 2px rgba(0, 0, 0, 0.05);
  transition: transform 250ms ease, opacity 100ms ease, visibility 0ms 50ms;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.search-button {
  @include centerer(column);
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #ff385c;
  color: white;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;

  #divider {
    font-size: 30px;
    color: $default-color-lt-gray;
  }
}

.socials-links {
  display: flex;
  align-items: flex-start;
}

.social-link {
  padding: 0 12px 0 0;
  justify-content: center;
  color: $airbnb-color;

  &:hover {
    color: rgb(103, 209, 174);
  }
}

.dropdown-menu-container {
  padding: 0 0 0 12px;
}

.nav-dropdown-button {
  @include button(white, $default-color-lt-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 8px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 2px rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .dropdown-icon1 {
    width: 22px;
    height: 16px;
    font-size: 20px;
    align-items: center;
    display: flex;
    color: $default-color-lt-gray;
  }

  .dropdown-icon2 {
    font-size: 25px;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    align-items: center;
    display: flex;
    color: $default-color-lt-gray;
  }
}

.dropdown-menu {
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  padding: 12px 16px;
  border-radius: 12px;
  flex-direction: column;
  width: 200px;
  height: 130px;
  right: -16px;
  top: 25px;
}

.dropdown-content-id div {
  display: block;
}

.show {
  display: block;
}
