@import "./variables.scss";

html,
body {
  width: 100vw;
  color: #484848;
  // display: flex;
  // align-content: center;
  // justify-content: center;
  box-sizing: border-box;
}

#root {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
