@import "./variables.scss";

#root {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

html,
body {
  width: 100vw;
  color: #484848;
  // display: flex;
  // align-content: center;
  // justify-content: center;
  box-sizing: border-box;
}

// h1 {
//   font-size: 34px;
//   font-weight: bold;
// }

// h2 {
//   font-size: 24px;
//   font-weight: bold;
// }

// h3 {
//   font-size: 20px;
//   font-weight: bold;
// }

// h4 {
//   font-size: 16px;
//   font-weight: bold;
// }

a {
  cursor: pointer;
  text-decoration: underline;
}
