@import "./variables.scss";

#root {
  position: relative;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  overflow: visible;
  color: #484848;
  font-size: 16px;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 34px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

input,
textarea {
  font-size: 16px;
  align-items: center;
  width: 450px;
  height: 48px;
  border-radius: 8px;
  border: 0.5px solid lightgray;
  margin: 10px;
  padding: 12px;
  color: $default-color;
  &:focus-within {
    border: 2px solid black;
  }
}

.listing-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid black;
  // position: relative;
}

.listing-index-item {
  width: 25%;
  border: 1px solid red;
  // width: calc(50% - 12px);
  min-width: 200px;
  max-width: 425px;
}

.listing-info {
  display: flex;
  flex-direction: column;
}

#test {
  width: 300px;
  height: 400px;
}
