$airbnb-color: #ff385c;
$fm-Nunito: "Nunito", sans-serif;
$fm-Montserrat: "Montserrat", sans-serif;
$default-color-black: #222222;
$default-color-ltrgray: rgba(232, 232, 232, 0.4);
$default-color-ltgray: #dddddd;
$default-color-gray: #00000050;
$default-color-darkgray: #717171;
$default-color-mint: #38bdb1;
$default-color-red: rgb(249, 106, 93);
$filter-icon-size: 25px;

@mixin center-content($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

@mixin button() {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: linear-gradient(to left, #e61e4d 0%, #e31c5f 50%, #d70466 100%);

  &:hover {
    background: linear-gradient(
      to right,
      #e61e4d 0%,
      #e31c5f 50%,
      #d70466 100%
    );
  }
}

@mixin icon-size($filter-icon-size) {
  width: $filter-icon-size;
  height: auto;
  padding: 10px 0 10px 0;
}

@mixin img() {
  object-fit: cover;
  object-position: 50% 50%;
}
