@import "../variables.scss";

.user-account-container {
  @include center-content(column);
  justify-content: flex-start;
  min-height: 100vh;
  padding: 40px;
  text-align: start;
}

.user-profile-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 50vw;
}

.user-photo {
  border-radius: 12px;
  border: 1px solid $default-color-gray;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 60px 20px 0;
  max-height: 35%;

  .user-avatar {
    @include img();
    align-self: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .upload-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      span {
        font-family: $fm-Nunito;
        font-size: 16px;
        font-weight: 300;
        color: $default-color-black;
        padding: 75px;
      }
    }

    #photo-upload::-webkit-file-upload-button {
      visibility: hidden;
    }

    #photo-upload::before {
      content: "Upload Photo";
      display: inline-block;
      align-self: center;
      background-color: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
      border: 1px solid #999;
      border-radius: 3px;
      padding: 5px 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      text-shadow: 1px 1px #fff;
      font-weight: 700;
      font-size: 10pt;
      color: $default-color-black;
      margin: 10px 20px 10px 70px;
    }

    #photo-upload {
      color: transparent;
    }

    #disable-photo-upload::-webkit-file-upload-button {
      visibility: hidden;
    }

    #disable-photo-upload::before {
      content: "Upload Photo";
      display: inline-block;
      align-self: center;
      // background-color: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
      border: 1px solid #999;
      border-radius: 3px;
      padding: 5px 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      text-shadow: 1px 1px #fff;
      font-weight: 700;
      font-size: 10pt;
      color: $default-color-black;
      margin: 10px 20px 10px 70px;
      opacity: 0.5;
      cursor: not-allowed !important;

      &:hover {
        color: $default-color-gray;
        border: 1px solid $default-color-gray;
      }
    }
  }

  .disable-upload-text {
    display: flex;
    align-items: center;
    font-family: $fm-Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: $default-color-darkgray;
  }
}

.user-profile {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  font-family: $fm-Nunito;
  color: $default-color-black;

  .user-name {
    font-size: 26px;
    font-weight: 700;
    padding: 6px 0 15px 0;
  }

  .user-joined {
    font-size: 16px;
    font-weight: 400;
    color: $default-color-gray;
    padding-bottom: 15px;
  }

  .user-email {
    font-size: 16px;
    font-weight: 300;
    color: $default-color-black;
  }
}

.user-reviews {
  font-family: $fm-Nunito;
  max-width: 50vw;
  display: flex;
  flex-flow: column wrap;
  margin-top: 40px;

  h1 {
    align-self: flex-start;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 20px 0;
  }

  .user-reviews-item-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid $default-color-gray;
    padding: 10px;
    margin: 20px 0 20px 0;

    .user-review-message {
      display: flex;
      flex-direction: column;
      width: 70%;

      p {
        align-self: flex-start;
        padding: 6px 10px 6px 10px;

        &:first-child {
          text-decoration: underline;
        }

        &:last-child {
          font-weight: 300;
          line-height: 1.25;
        }
      }
    }

    .user-review-date {
      p {
        padding: 6px 10px 6px 10px;
        color: $default-color-darkgray;
        font-weight: 300;
        white-space: nowrap;
      }
    }
  }
}
